# Linux start script should use LF.
/gradlew text eol=lf

# Any Windows script should use CRLF.
*.bat text eol=crlf

# Any generated content should use LF.
src/generated/**/.cache/cache text eol=lf
src/generated/**/*.json text eol=lf
