# Block
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFlammable
public net.minecraft.world.level.block.DeadBushBlock m_6266_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z # mayPlaceOn
public net.minecraft.world.level.block.state.BlockBehaviour f_60439_ # properties
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_279630_ # replaceable

# BlockPlaceContext
public net.minecraft.world.item.context.BlockPlaceContext f_43628_ # replaceClicked

# TurtleEggBlock
public net.minecraft.world.level.block.TurtleEggBlock m_57791_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V # decreaseEggs

# UseOnContext
public-f net.minecraft.world.item.context.UseOnContext m_43718_()Lnet/minecraft/world/phys/BlockHitResult; # getHitResult

# Camera
public net.minecraft.client.Camera$NearPlane f_167687_ # forward

# Gui
public net.minecraft.client.gui.Gui$HeartType

# Bee
public net.minecraft.world.entity.animal.Bee$BeePollinateGoal
public net.minecraft.world.entity.animal.Bee f_27697_ # savedFlowerPos

# DamageSources
public net.minecraft.world.damagesource.DamageSources *()
